.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.vscode
node_modules/
yarn-error.log
*.hprof
.vercel
**/*.env
.expo
.dist
.dist/*
docs
docs/*
documentation/documents/stories/.stories.mdx
**/test-results/*
*.pem